Q1

In [10]:
from sklearn import datasets
iri=datasets.load_iris()

In [2]:
print("Features:",iri.feature_names)
print("Target:",iri.target_names)

Features: ['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)', 'petal width (cm)']
Target: ['setosa' 'versicolor' 'virginica']

In [4]:
from sklearn.model_selection import train_test_split
xtr,xte,ytr,yte=train_test_split(iri.data,iri.target,test_size=0.3,random_state=0)

In [9]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(xtr,ytr)
ypr=gnb.predict(xte)
print(yte)
print(ypr)

[2 1 0 2 0 2 0 1 1 1 2 1 1 1 1 0 1 1 0 0 2 1 0 0 2 0 0 1 1 0 2 1 0 2 2 1 0
 1 1 1 2 0 2 0 0]
[2 1 0 2 0 2 0 1 1 1 2 1 1 1 1 0 1 1 0 0 2 1 0 0 2 0 0 1 1 0 2 1 0 2 2 1 0
 1 1 1 2 0 2 0 0]

In [8]:
from sklearn import metrics
print("Accuracy: ",100*metrics.accuracy_score(yte,ypr))

Accuracy:  100.0

Q2

In [53]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import metrics
import urllib

In [44]:
ds=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.data',header=None)
ds

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88,0
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14,0
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118,0
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78,0
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40,0

In [45]:
x=ds.iloc[:,:-1]
y=ds.iloc[:,-1]
print(x)
print(y)

        0     1     2    3     4     5     6     7     8     9   ...   47  \
0     0.00  0.64  0.64  0.0  0.32  0.00  0.00  0.00  0.00  0.00  ...  0.0
1     0.21  0.28  0.50  0.0  0.14  0.28  0.21  0.07  0.00  0.94  ...  0.0
2     0.06  0.00  0.71  0.0  1.23  0.19  0.19  0.12  0.64  0.25  ...  0.0
3     0.00  0.00  0.00  0.0  0.63  0.00  0.31  0.63  0.31  0.63  ...  0.0
4     0.00  0.00  0.00  0.0  0.63  0.00  0.31  0.63  0.31  0.63  ...  0.0
...    ...   ...   ...  ...   ...   ...   ...   ...   ...   ...  ...  ...
4596  0.31  0.00  0.62  0.0  0.00  0.31  0.00  0.00  0.00  0.00  ...  0.0
4597  0.00  0.00  0.00  0.0  0.00  0.00  0.00  0.00  0.00  0.00  ...  0.0
4598  0.30  0.00  0.30  0.0  0.00  0.00  0.00  0.00  0.00  0.00  ...  0.0
4599  0.96  0.00  0.00  0.0  0.32  0.00  0.00  0.00  0.00  0.00  ...  0.0
4600  0.00  0.00  0.65  0.0  0.00  0.00  0.00  0.00  0.00  0.00  ...  0.0

         48     49   50     51     52     53     54   55    56
0     0.000  0.000  0.0  0.778  0.000  0.000  3.756   61   278
1     0.000  0.132  0.0  0.372  0.180  0.048  5.114  101  1028
2     0.010  0.143  0.0  0.276  0.184  0.010  9.821  485  2259
3     0.000  0.137  0.0  0.137  0.000  0.000  3.537   40   191
4     0.000  0.135  0.0  0.135  0.000  0.000  3.537   40   191
...     ...    ...  ...    ...    ...    ...    ...  ...   ...
4596  0.000  0.232  0.0  0.000  0.000  0.000  1.142    3    88
4597  0.000  0.000  0.0  0.353  0.000  0.000  1.555    4    14
4598  0.102  0.718  0.0  0.000  0.000  0.000  1.404    6   118
4599  0.000  0.057  0.0  0.000  0.000  0.000  1.147    5    78
4600  0.000  0.000  0.0  0.125  0.000  0.000  1.250    5    40

[4601 rows x 57 columns]
0       1
1       1
2       1
3       1
4       1
       ..
4596    0
4597    0
4598    0
4599    0
4600    0
Name: 57, Length: 4601, dtype: int64

In [46]:
xtr,xte,ytr,yte=train_test_split(x,y,test_size=0.3,random_state=0)

In [55]:
bnb=BernoulliNB(binarize=0.1)

In [56]:
bnb.fit(xtr,ytr)
ypr=bnb.predict(xte)
print(yte)
print(ypr)

991     1
2565    0
1906    0
1471    1
1813    0
       ..
144     1
388     1
4318    0
1669    1
3550    0
Name: 57, Length: 1381, dtype: int64
[1 0 0 ... 0 1 0]

In [57]:
from sklearn.metrics import accuracy_score
print(100*accuracy_score(ypr,yte))

89.42795076031861

In [50]:
mnb=MultinomialNB()

In [51]:
mnb.fit(xtr,ytr)
ypr=mnb.predict(xte)
print(100*accuracy_score(ypr,yte))

80.95582910934105

In [54]:
gnb=GaussianNB()
gnb.fit(xtr,ytr)
ypr=gnb.predict(xte)
print(100*accuracy_score(ypr,yte))

81.24547429398986