In [ ]:
import pandas as pd
import numpy as np

In [ ]:
a=[10,20,30,40,50]
df=pd.DataFrame(a)
print(df)
type(df)

    0
0  10
1  20
2  30
3  40
4  50

pandas.core.frame.DataFrame

In [ ]:
data=[['Alex',10],['Bob',11],['Clare',12]]
df=pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

    Name   Age
0   Alex  10.0
1    Bob  11.0
2  Clare  12.0

In [ ]:
dict1={'Name':['A','B','C','D'],'Age':[10,11,12,13]}
df=pd.DataFrame(dict1,index=['r1','r2','r3','r4'])
print(df)

   Name  Age
r1    A   10
r2    B   11
r3    C   12
r4    D   13

In [ ]:
df=pd.DataFrame(np.random.randn(5,4),index='a b c d e'.split(),columns='w x y z'.split())
print(df)

          w         x         y         z
a -0.668082 -0.212802  0.046788 -0.036319
b  0.331226 -1.337109  1.612239 -0.954653
c -0.719293  0.602573 -0.299536  0.467195
d -0.851895  1.060755 -0.341972 -1.051396
e  0.743925  1.077182  0.738532 -2.711601

In [ ]:
dict={'Name':np.array(['ram','sita','gita','ron']),'Age':[10,11,12,13]}
df=pd.DataFrame(dict)
print(df)

   Name  Age
0   ram   10
1  sita   11
2  gita   12
3   ron   13

In [ ]:
s1=pd.Series([1,2,3],index=['a','b','c'])
print(s1)
df1=pd.DataFrame([1,2,3],index=['a','b','c'])
print(df1)

a    1
b    2
c    3
dtype: int64
   0
a  1
b  2
c  3

In [ ]:
di1={'10':pd.Series([1,2,3],index=['a','b','c']),'20':pd.Series([5,6,7],index=['d','e','f'])}
df1=pd.DataFrame(di1)
print(df1)

    10   20
a  1.0  NaN
b  2.0  NaN
c  3.0  NaN
d  NaN  5.0
e  NaN  6.0
f  NaN  7.0

In [ ]:
df=pd.DataFrame(np.random.randn(5,4),index='a b c d e'.split(),columns='w x y z'.split())
print(df)

          w         x         y         z
a -0.699078 -1.183739 -0.603630 -0.464208
b -0.134512 -0.715176  0.445498 -0.950023
c  0.250626  0.029370 -2.629197  0.361215
d -0.876252 -0.278348  0.355450 -1.067322
e -0.425505  1.739650 -0.586495  0.023511

In [ ]:
df['v']=df['w']+df['z']
print(df)

          w         x         y         z         v
a -0.351637 -0.102531 -1.505353  0.629711  0.278074
b -0.954611 -0.969891 -1.048536 -0.883269 -1.837880
c  2.003618  0.495927  0.150203  0.589139  2.592757
d -1.598975 -0.563858 -2.359379  1.551905 -0.047070
e  0.193418 -0.140148  1.438398 -1.054585 -0.861167

In [ ]:
df['f']=[1,2,3,4,5]

In [ ]:
print(df)

          w         x         y         z         v  f
a -0.161729 -0.982136  0.858070  0.160842 -0.000887  1
b  0.228835 -2.410104 -0.111409  1.296534  1.525369  2
c  0.144357 -1.299919  0.010461 -1.169233 -1.024876  3
d  0.748880 -0.184493  0.675844  0.709750  1.458630  4
e -0.346574  0.286253  0.037739 -1.578659 -1.925234  5

In [ ]:
df.drop('f',axis=1,inplace=True)
df

          w         x         y         z         v
a -0.351637 -0.102531 -1.505353  0.629711  0.278074
b -0.954611 -0.969891 -1.048536 -0.883269 -1.837880
c  2.003618  0.495927  0.150203  0.589139  2.592757
d -1.598975 -0.563858 -2.359379  1.551905 -0.047070
e  0.193418 -0.140148  1.438398 -1.054585 -0.861167

In [ ]:
df.drop('c',axis=0,inplace=True)
df

          w         x         y         z         v
a -0.161729 -0.982136  0.858070  0.160842 -0.000887
b  0.228835 -2.410104 -0.111409  1.296534  1.525369
d  0.748880 -0.184493  0.675844  0.709750  1.458630
e -0.346574  0.286253  0.037739 -1.578659 -1.925234

In [ ]:
df.loc['a']

w   -0.351637
x   -0.102531
y   -1.505353
z    0.629711
v    0.278074
Name: a, dtype: float64

In [ ]:
df

          w         x         y         z         v
a -0.351637 -0.102531 -1.505353  0.629711  0.278074
b -0.954611 -0.969891 -1.048536 -0.883269 -1.837880
c  2.003618  0.495927  0.150203  0.589139  2.592757
d -1.598975 -0.563858 -2.359379  1.551905 -0.047070
e  0.193418 -0.140148  1.438398 -1.054585 -0.861167

In [ ]:
df.iloc[1]

w   -0.954611
x   -0.969891
y   -1.048536
z   -0.883269
v   -1.837880
Name: b, dtype: float64

In [ ]:
df.loc['b']['y']

-1.0485362235671414

In [ ]:
df.loc[['a','b'],['x','y']]

          x         y
a -0.102531 -1.505353
b -0.969891 -1.048536

In [ ]:
df

          w         x         y         z
a -0.699078 -1.183739 -0.603630 -0.464208
b -0.134512 -0.715176  0.445498 -0.950023
c  0.250626  0.029370 -2.629197  0.361215
d -0.876252 -0.278348  0.355450 -1.067322
e -0.425505  1.739650 -0.586495  0.023511

In [ ]:
df>0

       w      x      y      z
a  False  False  False  False
b  False  False   True  False
c   True   True  False   True
d  False  False   True  False
e  False   True  False   True

In [ ]:
df[df>0]

          w        x         y         z
a       NaN      NaN       NaN       NaN
b       NaN      NaN  0.445498       NaN
c  0.250626  0.02937       NaN  0.361215
d       NaN      NaN  0.355450       NaN
e       NaN  1.73965       NaN  0.023511

In [ ]:
df[df['w']>0]

          w        x         y         z
c  0.250626  0.02937 -2.629197  0.361215

In [ ]:
df[df['x']>0]['z']

c    0.361215
e    0.023511
Name: z, dtype: float64

In [ ]:
df[df['y']>0][['x','z']]

          x         z
b -0.715176 -0.950023
d -0.278348 -1.067322

In [ ]:
df

          w         x         y         z
a -0.699078 -1.183739 -0.603630 -0.464208
b -0.134512 -0.715176  0.445498 -0.950023
c  0.250626  0.029370 -2.629197  0.361215
d -0.876252 -0.278348  0.355450 -1.067322
e -0.425505  1.739650 -0.586495  0.023511

In [ ]:
df[(df['x']>0)|(df['y']>0)]

          w         x         y         z
b -0.134512 -0.715176  0.445498 -0.950023
c  0.250626  0.029370 -2.629197  0.361215
d -0.876252 -0.278348  0.355450 -1.067322
e -0.425505  1.739650 -0.586495  0.023511

In [ ]:
df.reset_index()

  index         w         x         y         z
0     a -0.699078 -1.183739 -0.603630 -0.464208
1     b -0.134512 -0.715176  0.445498 -0.950023
2     c  0.250626  0.029370 -2.629197  0.361215
3     d -0.876252 -0.278348  0.355450 -1.067322
4     e -0.425505  1.739650 -0.586495  0.023511

In [ ]:
new_ind='A B C D E'.split()
df['cap']=new_ind
df

          w         x         y         z cap
a -0.699078 -1.183739 -0.603630 -0.464208   A
b -0.134512 -0.715176  0.445498 -0.950023   B
c  0.250626  0.029370 -2.629197  0.361215   C
d -0.876252 -0.278348  0.355450 -1.067322   D
e -0.425505  1.739650 -0.586495  0.023511   E

In [ ]:
df.set_index('cap',inplace=True)

In [ ]:
df

            w         x         y         z
cap
A   -0.699078 -1.183739 -0.603630 -0.464208
B   -0.134512 -0.715176  0.445498 -0.950023
C    0.250626  0.029370 -2.629197  0.361215
D   -0.876252 -0.278348  0.355450 -1.067322
E   -0.425505  1.739650 -0.586495  0.023511