In [2]:
import pandas as pd
from sklearn.datasets import make_hastie_10_2 as mh
from sklearn.ensemble import GradientBoostingClassifier

In [ ]:
x,y=mh(random_state=0)
print(x)

[[ 1.76405235  0.40015721  0.97873798 ... -0.15135721 -0.10321885
   0.4105985 ]
 [ 0.14404357  1.45427351  0.76103773 ... -0.20515826  0.3130677
  -0.85409574]
 [-2.55298982  0.6536186   0.8644362  ... -0.18718385  1.53277921
   1.46935877]
 ...
 [ 0.19986465  0.26134578 -0.1279868  ... -0.51718289  0.07969414
   1.01612661]
 [-0.15167316 -1.42519962  1.07092211 ... -1.20676602 -1.04746487
   0.0075881 ]
 [-0.09708998  0.78044425  0.22108152 ...  2.53170549 -0.03572203
   0.17320019]]

In [ ]:
print(y)

[ 1. -1.  1. ... -1. -1.  1.]

In [ ]:
type(x)

numpy.ndarray

In [ ]:
x.shape

(12000, 10)

In [ ]:
y.shape

(12000,)

In [ ]:
xtr,xte= x[:2000],x[2000:]
ytr,yte= y[:2000],y[2000:]

In [ ]:
gbc= GradientBoostingClassifier(n_estimators=100,learning_rate=1.0,max_depth=1,random_state=0).fit(xtr,ytr)
gbc.score(xte,yte)

0.913

**Titanic Dataset**

In [25]:
from sklearn.preprocessing import MinMaxScaler 
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [4]:
from google.colab import files
uploaded= files.upload()

Saving train.csv to train.csv
Saving test.csv to test.csv

In [26]:
trds=pd.read_csv('train.csv')
teds=pd.read_csv('test.csv')

In [6]:
trds.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [19]:
trds.shape

(891, 11)

In [7]:
teds.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [20]:
teds.shape

(418, 11)

In [27]:
ytr=trds['Survived']
trds.drop(labels='Survived',axis=1,inplace=True)
trds.head()

   PassengerId  Pclass  ... Cabin Embarked
0            1       3  ...   NaN        S
1            2       1  ...   C85        C
2            3       3  ...   NaN        S
3            4       1  ...  C123        S
4            5       3  ...   NaN        S

[5 rows x 11 columns]

In [28]:
#fds= full ds
fds=trds.append(teds)
fds.shape

(1309, 11)

In [29]:
fds.drop(labels=['PassengerId','Name','Parch','Ticket','Fare','Embarked','Cabin'],axis=1,inplace=True)
fds.head()

   Pclass     Sex   Age  SibSp
0       3    male  22.0      1
1       1  female  38.0      1
2       3  female  26.0      0
3       1  female  35.0      1
4       3    male  35.0      0

In [30]:
fds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  1309 non-null   int64
 1   Sex     1309 non-null   object
 2   Age     1046 non-null   float64
 3   SibSp   1309 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 51.1+ KB

In [31]:
fds['Age'].fillna(fds['Age'].mean(),inplace=True)

In [13]:
fds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 417
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  1309 non-null   int64
 1   Sex     1309 non-null   object
 2   Age     1309 non-null   float64
 3   SibSp   1309 non-null   int64
dtypes: float64(1), int64(2), object(1)
memory usage: 51.1+ KB

In [32]:
gen= pd.get_dummies(fds['Sex'],drop_first=True)
fds.drop(labels=['Sex'],axis=1,inplace=True)
fds= pd.concat([fds,gen],axis=1)
fds.head()

   Pclass   Age  SibSp  male
0       3  22.0      1     1
1       1  38.0      1     0
2       3  26.0      0     0
3       1  35.0      1     0
4       3  35.0      0     1

In [33]:
xtr=fds[:891]
xte=fds[891:]

In [34]:
sca= MinMaxScaler()
xtr= sca.fit_transform(xtr)
xte=sca.fit_transform(xte)

In [18]:
xtr.shape

(891, 4)

In [35]:
xtr,xva,ytr,yva= train_test_split(xtr,ytr,test_size=0.3,random_state=0)

In [36]:
lr=[0.05,0.075,0.1,0.25,0.5,0.75,1.0,1.2,1.5,2.0,3.5,5.0]
for i in lr:
    gbc= GradientBoostingClassifier(n_estimators=20,learning_rate=i,max_features=2,max_depth=2,random_state=0)
    gbc.fit(xtr,ytr)
    print('Learning rate: ',i)
    print('Accuracy score training: ', gbc.score(xtr,ytr))
    print('Accuracy score validation: ',gbc.score(xva,yva))
    print()
#best at 1.5

Learning rate:  0.05
Accuracy score training:  0.8041733547351525
Accuracy score validation:  0.7947761194029851

Learning rate:  0.075
Accuracy score training:  0.8105939004815409
Accuracy score validation:  0.7947761194029851

Learning rate:  0.1
Accuracy score training:  0.8186195826645265
Accuracy score validation:  0.8022388059701493

Learning rate:  0.25
Accuracy score training:  0.8330658105939005
Accuracy score validation:  0.8097014925373134

Learning rate:  0.5
Accuracy score training:  0.8426966292134831
Accuracy score validation:  0.8171641791044776

Learning rate:  0.75
Accuracy score training:  0.8443017656500803
Accuracy score validation:  0.8171641791044776

Learning rate:  1.0
Accuracy score training:  0.8491171749598716
Accuracy score validation:  0.8171641791044776

Learning rate:  1.2
Accuracy score training:  0.8491171749598716
Accuracy score validation:  0.8022388059701493

Learning rate:  1.5
Accuracy score training:  0.8362760834670947
Accuracy score validation:  0.8208955223880597

Learning rate:  2.0
Accuracy score training:  0.6853932584269663
Accuracy score validation:  0.6791044776119403

Learning rate:  3.5
Accuracy score training:  0.6886035313001605
Accuracy score validation:  0.6977611940298507

Learning rate:  5.0
Accuracy score training:  0.21348314606741572
Accuracy score validation:  0.2126865671641791

In [37]:
gbc1= GradientBoostingClassifier(n_estimators=20,learning_rate=1.5,max_features=2,max_depth=2,random_state=0)
gbc1.fit(xtr,ytr)
ypr= gbc1.predict(xva)
print('Confusion matrix:')
print(confusion_matrix(ypr,yva))
print()
print('Classification report: ')
print(classification_report(ypr,yva))

Confusion matrix:
[[152  32]
 [ 16  68]]

Classification report:
              precision    recall  f1-score   support

           0       0.90      0.83      0.86       184
           1       0.68      0.81      0.74        84

    accuracy                           0.82       268
   macro avg       0.79      0.82      0.80       268
weighted avg       0.83      0.82      0.82       268